/* Animations */

/*.left-fast {
  @include animation(900ms, left-fast, ease);

}

.right-fast {
 @include animation(900ms, right-fast, ease);
}

.roll-in-left {
 @include animation(900ms, roll-in-left, ease);
}

.up {
  @include animation(900ms, up, ease);
}

.down {
  @include animation(900ms, down, ease);
}

.fade-in {
  @include animation(900ms, fade-in, ease);
}

.delay {
  @include animation-delay (1s);
}

.delay2 {
  @include animation-delay (1.2s);
}
*/



/* KEYFRAMES */


@include keyframe(left-fast){
0%{ opacity: 0; @include prefixer(translateX, 100px);}
100%{ opacity: 1; @include prefixer(translateY, 0);}
 }

@include keyframe(right-fast){
0%{ opacity: 0; @include prefixer(translateX, -100px);}
100%{ opacity: 1; @include prefixer(translateY, 0);}
 }

 @-webkit-keyframes roll-in-left{
0%{ opacity: 0; margin-left:-500px; -webkit-transform:rotateX(550deg);}
100%{ opacity: 1;}
 }

@include keyframe(up){
0%{ bottom:-185px;}
100%{ bottom:0px;}
 }

@include keyframe(down){
0%{ bottom:0px;}
100%{ bottom:-185px;}
 }


@include keyframe(fade-in){
0%{ @include opacity(0)}
100%{ @include opacity(1)}
 }


/* SENCHA ANIMATIONS */
