.login {
	@include viewport(sm){
	padding:8em;

	}
	
	text-align: center;
	.wrap {
		max-width:500px;
	}
	.login-content {
		padding:3em 1em;
		.input {
			margin: 2em 0;
			.main-form {
				li  {
					display: inline;
					margin-right: 1em;
					@include viewport(sm){
						margin-right:3em;

					}
					&:last-child {
						margin-right: 0;
					}

				}
				input {
					&.active {
						border-color:transparent;
						background:lighten($accent,55);
						color:$secondary;
					}
					padding:0;
					font-size: 24px;
					height:60px;
					width:60px;
					border-radius:8px;
					display: inline;
					text-align: center;
				}
			}
		}

	}

}
/*
.login .container-fluid .row{
	display: none;
}*/


.logo,.info {
	display: none;
}
#login input, #numpad li {
	@include opacity(0);
}
