* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  padding:2em;
    
}

.wrap {
  max-width: 940px;
  @include viewport(xs){
    max-width:900px;
  }
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

h2 {
  @include viewport(xs){
    height:20px;
  }
}


.num-pad {
  @include viewport(sm){
    max-width:80%;
  }
  margin:auto;
  li {
    width:28.3333%;
    display: inline-block;
    font-size: 16px;
    margin:2%;
    &.clear {
      color:$light;
      &:hover {
        cursor:pointer;
        color:$secondary;
      }
    }
    &.disabled {
      visibility:hidden;
    }
    a {
      color:$accent;
      cursor:pointer;
      @include viewport(sm){
        padding:1.5em .5em;
      }
      padding:1em .5em;
      display: inline-block;
      width:100%;
      border-radius:5px;
      &:hover {
        color:$secondary;
        background:lighten($accent,55);
      }

    }
    
  }
}




/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


