// COLOR PALETTE
$primary: #20343f;
$secondary: #d51d47;
$accent: #4c7185;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: $secondary;
$light: #d9d9d8;

// FONT STACKS
$heading: 'Arimo', sans-serif;
$body: 'Arimo', sans-serif;

